* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.form-box {
  background: #ffffffc9;
  width: 90%;
  max-width: 550px;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin: 10px 0 5px;
  color: #333;
}

input,
textarea,
select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  transition: 0.3s;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 5px #4f46e5;
}

textarea {
  resize: none;
  height: 70px;
}

button {
  background: #4f46e5;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  background: #372e9d;
}
